<div class='govuk-grid-row subnav govuk-!-margin-0'>
  <div class='govuk-grid-column-one-third govuk-grid-column-one-half-from-desktop govuk-!-padding-left-0 organisation-name'>
    <p class='govuk-body govuk-!-margin-0 govuk-!-padding-0'>
      <strong class="govuk-!-margin-right-1"><%= current_organisation.name if current_organisation %></strong>
    </p>
  </div>

  <div class='govuk-grid-column-two-thirds govuk-grid-column-one-half-from-desktop govuk-!-padding-0 nav-links'>
    <nav class='govuk-body govuk-!-margin-bottom-0'>
      <% if super_admin? %>
        <%= link_to 'Locations', super_admin_locations_path, class: active_tab(super_admin_locations_path) %>
        <%= link_to 'Organisations', super_admin_organisations_path, class: active_tab(super_admin_organisations_path) %>
        <%= link_to 'Whitelist', new_super_admin_whitelist_path, class: active_tab('whitelist') %>
        <%= link_to 'MOU', super_admin_mou_index_path, class: active_tab(super_admin_mou_index_path) %>
        <%= link_to 'Logs', new_logs_search_path, class: active_tab('logs') %>
      <% else %>
        <%= link_to 'Switch organisation', change_organisation_path, class: active_tab('foo') %>
      <% end %>
    </nav>
  </div>
</div>
